@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-customer-navy: #192A51;
    --color-customer-mauve: #967AA1;
    --color-customer-lilac: #AAA1C8;
    --color-customer-thistle: #D5C6E0;
    --color-customer-blush: #F5E6E8;

    --color-provider-onyx: #0F0F0F;
    --color-provider-graphite: #2D2E2E;
    --color-provider-grey: #716969;
    --color-provider-ash: #BCABAE;
    --color-provider-white: #FBFBFB;
}